<template>
    <div>
        <div class="d-flex justify-content-center full-size" v-if="loading">
            <div class="spinner-border align-self-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row m-0 justify-content-center">
                <div class="col-6">
                    <h1>Tasks <span class="text-muted">({{ notCompleted }})</span></h1>
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="task.name" placeholder="New task"/>
                        <button class="btn btn-primary" @click="saveTask()">Add</button>
                    </div>

                    <ul class="list-group mt-5">
                        <li v-for="task in tasks" :key="task.id"
                            class="list-group-item p-0 d-flex justify-content-between"
                            :class="{ 'list-group-item-success': task.completed, 'list-group-item-secondary': !task.completed }">
                            <div class="m-2" @click="markAsCompleted(task)">
                                <del v-if="task.completed">{{ task.name }} </del>
                                <span v-else>{{ task.name }} </span>

                            </div>
                            <button class="float-right btn btn-danger px-3" @click="deleteTask(task)">x</button>
                        </li>
                        <p v-if="!tasks.length" class="text-center text-muted">
                            No tasks found.
                        </p>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            task: {
                name:''
            },
            tasks: [],
            loading: false
        }
    },

    created() {
        this.getTasks()
    },

    computed: {
        notCompleted() {
            let notCompleted = this.tasks.filter(t => !t.completed)
            return notCompleted.length
        }
    },

    methods: {
        getTasks() {
            this.loading = true

            axios.get(`/api/task`)
            .then(res => {
                this.loading = false
                this.tasks = res.data
            })
            .catch(err => {
                console.error(err);
            })
        },

        saveTask() {
            this.loading = true

            let params = {
                task: this.task
            }

            axios.post(`/api/task`, params)
            .then(res => {
                this.loading = false
                this.tasks.push(res.data)
            })
            .catch(err => {
                console.error(err);
            })
        },
        markAsCompleted(task) {
            this.loading = true

            axios.put(`/api/task/${task.id}`)
            .then(res => {
                this.loading = false
                this.getTasks()
            })
            .catch(err => {
                console.error(err);
            })
        },
        deleteTask(task) {
            this.loading = true

            axios.delete(`/api/task/${task.id}`)
            .then(res => {
                this.loading = false
                this.getTasks()
            })
            .catch(err => {
                console.error(err);
            })
        }
    }

}
</script>

<style>
    .full-size {
        height: 100vh;
        position: absolute;
        width: 100%;
        z-index: 1;
        background-color: #ffffff99;
    }
</style>
